@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 650;
    /* font-size: 20px; */
    font-style: normal;
}

textarea { height: auto; }

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a{
    color:black;
    text-decoration: none;
    padding: 0 15px;
}

a:hover{
    color: grey;
    text-decoration: none;
}

header{
    flex: none;
    padding: 8px 0;
    position: sticky;
    height:auto;
    width:100vw;
    background-color: #FFD700;
    color: white;
}

.header-top{
    display:flex;
    color: black;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    margin: auto;
}

.header-top > div {
    width: 260px;
    height: auto;
}

.header-links{
    
}

.body-container{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: auto;
    background: linear-gradient(180deg, #FFD700, #033C66);
}


footer{
    flex: none;
    padding: 10px 0;
    min-height: auto;
    margin-top: auto;
    height:auto;
    width:100vw;
    background-color: #033C66;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text{
    color:white;
    margin-right: 10px;
    font-size: 25px;
}

.logo{
    height: 36px;
    width: auto;
}
.btn-container{
    display:flex; 
    align-items: center; 
    justify-content: center;
    margin: 10px;
}
button{
    background-color: #033C66;
    color: white;
    padding: 5px 20px;
    border-radius: 40px;
    border: 0;
    /* margin: 10px; */
}

button:hover{
    cursor: pointer;
    filter:drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    transform: scale(1.05);
}

select{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

input{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

textarea{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box{
    background-color: #ECFCFF;
    padding: 25px;
    margin: 25px;
    filter:drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    flex-direction: column;
}

.search_result{
    margin: 10px;
}

.err-msg{
    color: rgb(0, 255, 34);
    text-align: center;
}

.btn{
    all: unset;
    margin: 0 10px;
}

.acc-img{
    margin: 0 5px -5px 5px;
    height: 29px;
    width: 29px;
}

