#table{
    margin-left: 80px;
}

#percentage{
    width: 300px;
}

#starting{
    width: 300px;
}

#ending{
    width: 300px;
}

#discount{
    margin-left: 150px;
}

#report{
    margin-left: 750px;
}
#one{
    height: 500px;
}