.row-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    /* margin: 10px auto; */
}

main{
    background-image: none;
    background:linear-gradient(316.41deg, #6F0808 5.32%, #000000 45.92%, #000956 78.45%);
    /* background-color: linear-gradient(316.41deg, #6F0808 5.32%, #000000 45.92%, #000956 78.45%); */
}

main::before{
    content: none;
}