main{
    background-image: none;
    background:linear-gradient(316.41deg, #6F0808 5.32%, #000000 45.92%, #000956 78.45%);
    /* background-color: linear-gradient(316.41deg, #6F0808 5.32%, #000000 45.92%, #000956 78.45%); */
}

main::before{
    content: none;
}

.branch-img{
    height:200px;
    width:200px;
}

.row-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 500px;
    margin: 10px auto;
}

.left-side{
    width: 50%;
}

.right-side{
    width: 50%;
    /* margin-left: 60px; */
}

.right-side > textarea{
    max-width:80%;
}