#authFormDiv{
    padding: 25px;
    position:absolute; 
    display:none; 
    top:50%; 
    left:50%; 
    background: rgba(236, 252, 255, 0.53);
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    animation: slideIn 0.5s ease-in-out; 
}

#msgBox{
    padding: 25px;
    position:absolute; 
    display:none; 
    top:50%; 
    left:50%; 
    background: rgba(236, 252, 255, 0.53);
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, -50%);
        top: -50%;
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        top: 50%;
        opacity: 1;
    }
}
