#authFormDiv{
    padding: 25px;
    position: fixed; 
    display:none; 
    margin: 2rem auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideIn 0.5s ease-in-out; 
    width: calc(100vw - 70%);
    height: calc(100vh - 60%);
}

#msgBox{
    padding: 25px;
    position: fixed; 
    display:none; 
    margin: 2rem auto;
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
    animation: slideIn 0.5s ease-in-out;
}

#msg{
    display:flex; 
    flex-direction:column;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#altMsg{
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;
    margin: 1.5rem 2rem;
}

.altMsg-invalid{
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, -50%);
        top: -50%;
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        top: 50%;
        opacity: 1;
    }
}

@media(max-width: 840px){
    #authFormDiv{
        width: calc(100vw - 40%);
        height: calc(100vh - 60%);
    }
}

@media(max-width: 620px){
    #authFormDiv{
        width: calc(100vw - 25%);
        height: calc(100vh - 60%);
    }
}

body{
    position: relative;
}