.main-body{
    width: 96%;
    height: 80vh;
    margin: 0;
    margin-left: 2%;
    padding: 0%;
    margin-top: 2%;

    background:white;
    display: flex;
    flex-direction: column;
    
    
}
.RevenueSection{
    width: 45%;
    background:red;
    height: 100%;
    border-radius: 4%;
    padding: 2%;
    padding-bottom: 3.5%;
    


}
.BranchSection{
    width: 25%;
    background:yellow;
    height: 100%;
    border-radius: 4%;
    padding: 2%;


}
.feedback{
    width: 25%;
    background:blue;
    height: 100%;
    border-radius: 4%;
    padding: 2%;

}


.Request{
    margin-top: 10px;
    width: 30%;
    background:blue;
    height: 100%;
    border-radius: 4%;
    padding: 2%;

}

.SportsSection{
    margin-top: 10px;

    width: 30%;
    background:blue;
    height: 100%;
    border-radius: 4%;
    padding: 2%;

}

.MakeRequestSection{
    margin-top: 10px;

    width: 30%;
    background:blue;
    height: 100%;
    border-radius: 4%;
    padding: 2%;

}
.header{
    text-align: center;
    background-color: green;
    height: 10%;

}

.contentSection{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
    background-color: aqua;
    height: 70%;
}
.viewMoreButton{
background-color: blueviolet;
    display: flex;
   justify-content: center;
   
    
}

.uppderSection{
    background-color: green;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 50%;
}

.lowerSection{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 50%;
}