.landing-img{
    background-repeat: no-repeat;
    background-size: 100vw;
    height:calc(0.562429696287964 * 100vw);
    position: relative;
}

.slider{
    width:100vw;
    overflow: hidden;
}

.slides{
    width:500%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    position: relative;
    width: 20%;
    transition: 1.2s;
}

.slide img{
    width: 100vw;
}

.navigation-manual{
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

.active{
    background-color: white;
}

main{
    background-image: none;
    background-color: black;
}

main::before{
    content: none;
    
}

#reservationBtn{
    position: absolute;
    padding: initial calc(0.1vw + 0.1rem);
    top: 79%;
    left: 55%;
    margin:0;
    font-size: calc(1vw + 0.02rem);
}

#coachBtn{
    top: 72.83950617283951%;
    left:6.25%;
    position: absolute;
    padding: initial calc(0.1vw + 0.1rem);
    margin:0;
    font-size: calc(1vw + 0.02rem);
}

#system-notify{
    background-color: #ECFCFF;
    color: black;
}

#system-notify marquee{
    font-size: 1.2rem;
    white-space: nowrap;
}

@media(max-width: 900px){
    #landing-img1{
        content: url(../landing_res_res_1.png);
        height: auto;
    }

    #landing-img2{
        height: auto;
        content: url(../landing_coach_res_1.png);
    }

    #system-notify marquee{
        font-size: 1rem;
    }
}

@media(max-width: 680px){
    .slides{
        display: block;
    }

    .slide{
        width: 100%;
    }

    #system-notify marquee{
        font-size: 0.8rem;
    }

    #reservationBtn{
        position: absolute;
        padding: initial calc(0.1vw + 0.1rem);
        top: 75%;
        left: 8%;
        margin:0;
        font-size: calc(1vw + 0.5rem);
    }
    #coachBtn{
        top: 72.83950617283951%;
        left:1.5%;
        position: absolute;
        padding: initial calc(0.1vw + 0.1rem);
        margin:0;
        font-size: calc(1vw + 0.5rem);
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    .manual-btn{
        display: none;
    }
    
    #radio2:checked ~ .first{
        margin-left: 0;
    }

    main{
        display: flex;
        flex-direction: column; 
        align-items: stretch;
        justify-content: space-evenly;
    }
}