.branch-image{
    border-radius: 50%;
    background: linear-gradient(180deg, #dac340, #e6800d);
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.branch-image-container{
    margin: 0 20px;
    border-radius: 50%;
}

.branch-row{
    margin: 25px;
    display:flex; 
    flex-direction:row; 
    align-items: center;
}

.branchInfo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.info{
    min-width:50%;
    padding: 1%;

}

.checked{
    color: gold;
}

.map-icon{
    color: #02135f;
    transition: all 0.3s ease-in-out;
}

.map-icon:hover{
    color: #860404;
    scale: 1.2;
}

.map-container{
    display: none;
    height: 400px;
    width: 400px;
    position: absolute;
    top: calc(100vh / 2);
    left: 50%;
    transform: translate(-50%, -50%);
}

#map{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.map-container > div> a {
    color: black;
    margin: 1rem;
}

.map-container > div {
    text-align: center;
}

.map-container > div > a:hover{
    background-color: transparent;
}

body{
    position: relative;
}