.sport-icon{
    border-radius: 50%;
    background: linear-gradient(180deg, #dac340, #e6800d);
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.sport-icon-container{
    height: 250px;
    width: 250px;
    margin: 0 20px;
    border-radius: 50%;
}

.sports-row{
    margin: 25px;
    display:flex; 
    flex-direction:row; 
    width:100%;
}

.sports-content-box{
    justify-content:center; 
    align-items:center; 
    width:50%;
}