.branch-list{
    flex-direction:column;
    flex-wrap: wrap;
}

.branch-image{
    border-radius: 50%;
    background: linear-gradient(180deg, #dac340, #e6800d);
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.branch-image-container{
    margin: 0 1rem;
    width: 25rem;
}

.branch-info{
    width: auto;
    margin: 0 2rem;
}

.branch-row{
    margin: 25px;
    display:flex; 
    flex-direction:row; 
    align-items: center;
    justify-content: space-around;

}

.branchInfo{
    display:flex;

}

.info{
    margin: 1rem;
}

.checked{
    color: gold;
}

.map-icon{
    color: #02135f;
    transition: all 0.3s ease-in-out;
}

.map-icon:hover{
    color: #860404;
    scale: 1.2;
}

.map-container{
    display: none;
    height: 400px;
    width: 400px;
    margin: 1rem auto;
    position: fixed;
    top: calc(100vh / 2);
    left: 50%;
    transform: translate(-50%, -50%);
}

#map{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.map-container > div> a {
    color: black;
    margin: 1rem;
}

.map-container > div {
    text-align: center;
}

.map-container > div > a:hover{
    background-color: transparent;
}


body{
    position: relative;
}


@media(max-width: 950px){
    .branch-row{
        flex-direction: column;
        align-items: center;
    }
    .branch-image-container{
        margin: 1rem;
    }
    .branchInfo{
        flex-direction: column;
        align-items: center;
    }
    .info{
        margin: 0.5rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .info > button{
        margin: auto;
    }

    .map-container{
        height: 40vh;
        width: 60vw;
        position: fixed;

    }
}


@media (max-width: 600px){
    .branch-image-container{
        width: 100%;
    }

    .branch-info{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info{
        font-size: 0.8rem;
    }
}