input{
    margin-left: unset;
}


.checked{
    color: gold;
}

.filter-div{
    display:flex; 
    flex-direction:row; 
    justify-content:space-around;
}


.filter-option{
    margin: 0 1rem;
}

.feedbackDiv{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideIn 1s ease-in-out;
}

.content-box{
    width: 75%;
}

@keyframes slideIn{
    0%{
        transform: translateX(40%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}


@media(max-width: 900px){
    .content-box{
        width: 100%;
    }
    .filter-option{
        margin: 0 0.5rem;
    }
}

@media(max-width: 680px){
    .filter-option{
       font-size: 0.8rem;
        margin: 0 1rem;
    }

    .filter-option *{
        width: 100%;
        font-size: 0.6rem;
    }

}