.checked{
    color: gold;
}

.coach-image{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

.coach-image-container{
    width: 80%;
}
.coach{
    display:flex; 
    flex-direction:column; 
    align-items: center;
    justify-content: center;
    width: 25rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.info{
    width: 100%;
}

.coach-info{
    display:flex; 
    flex-direction:column; 
}

#coachList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}