.register-imgs{
    border-radius: 50%;
    object-fit:cover;
    width: 400px;
    aspect-ratio: 1/1;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}



.register-option{
    display:flex; 
    flex-direction: column; 
    align-items:center;
}

.register-options-container{
    display:flex; 
    flex-direction:row;
}

@media(max-width: 970px){
    .register-imgs{
        height: 300px;
        width: 300px;
    }
}

@media(max-width: 760px){
    .register-options-container{
        flex-direction: column;
    }
    .content-box{
        width: 100%;
    }
}

@media(max-width: 500px){
    .register-imgs{
        height: 250px;
        width: 250px;
    }
}