.success-msg{
    color: green;
    text-align: center;
}

.branch-info{
    display:flex; 
    flex-direction:row; 
    justify-content:space-between;
    width: 100%;
    flex-wrap: wrap;
}

.selected{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
}

.nav-disable{
    pointer-events: none;
    background-color: gray;
}

.title{
    text-align:center; 
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.court-schedule table{
    box-shadow:0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
    table-layout: fixed;
    
}

.court-schedule table tr td, .court-schedule table tr th{
    border: 1px solid rgb(185, 185, 185);
    text-align: center;
    padding: 0.3rem;
}

.court-schedule table tr .reserved{
    border: none;
}

.court-schedule table tr:first-child th{
    border-top: none;
}

.court-schedule table tr:last-child td{
    border-bottom: none;
}
  
.court-schedule table tr *:first-child{
    border-left: none;
}

.court-schedule table tr *:last-child{
    border-right: none;
}


.court-schedule table tr:nth-child(even) td{
    background-color: rgb(236, 236, 236);
}

.court-schedule table tr:first-child th:first-child{
    border-top-left-radius: 1rem;
}

.court-schedule table tr:first-child th:last-child{
    border-top-right-radius: 1rem;
}

.court-schedule table tr:last-child td:first-child{
    border-bottom-left-radius: 1rem;
}

.court-schedule table tr:last-child td:last-child{
    border-bottom-right-radius: 1rem;
}



.maintenance{
    background-color: gray;
    color: black;
}

.reserved{
    background:linear-gradient(120deg, rgba(5,5,108,1) 0%, rgba(0,0,0,1) 60%, rgba(167,0,0,1) 100%);
    color: white;
}

#paymentBox{
    width: 25%;
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    margin: 1rem auto;
    display: none;
    transform: translate(-50%, -50%);
    animation: slideUp 0.5s ease-in-out;
}

#scheduleNavBtns{
    float: right;
}

#card-errors{
    color: red;
    margin: 10px 0;
}

#card-holder-name-div{
    text-align: left;
    width: 100%;
}

#card-holder-name > *{
    all: unset;
    color: gray;
    font-size: 0.8rem;
    font-weight: 500;
}

#card-holder-name{
    width: 100%;
    all: unset;
    margin: 0.45rem;
    font-weight: lighter;
}

#card-holder-name::placeholder{
    all: unset;
    color: gray;
    font-size: 0.9rem;
}

#card-element > *{
    font-family: 'Poppins', sans-serif;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.row-container{
    display:flex; 
    justify-content:space-around; 
    flex-direction:row;
    align-items: center;
    flex-basis: 33.33%;
}
.left-field{
    width: 30%;
    margin: 1rem;
}

.right-field{
    width: 70%;
    margin: 1rem;
}

.right-field > input{
    width: 100%;
    margin: 0;
}


.payment-gateway-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-info{
    display:flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content:space-around;
}

.reservation-price{
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
}

@media(max-width: 1100px){
    *{
        font-size: 0.8rem;
    }
}

@media(max-width: 900px){
    *{
        font-size: 0.75rem;
    }
}

@media(max-width: 820px){
    *{
        font-size: 0.7rem;
    }
}

@media(max-width: 750px){
    *{
        font-size: 0.65rem;
    }

    #paymentBox{
        width: 50%;
    }
}

@media(max-width: 680px){
    .branch-info {
        flex-direction: column;
        margin: 0.5rem auto;
        align-items: center;
        
    }

    #paymentBox{
        width: 80%;
    }

    *{
        font-size: 1rem;
    }

    .court-schedule{
        overflow: auto;
    }

    .court-schedule table{
        table-layout: auto;
    }

    #allScheduleDetails button{
        font-size: smaller;
    }

    #scheduleNavBtns{
        float: none;
        display: flex;
        justify-content: center;
        margin: 1rem 0;

    }
    .courtBtnDiv{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem auto;
    }

    .court-schedule table tr td, .court-schedule table tr th{
        font-size: 0.7rem;
        padding: 0.2rem;
    }

    .reservation-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .row-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .left-field{
        text-align: center;
        width: 100%;
        margin: 0.2rem;
    }

    .right-field{
        width: 100%;
        margin: 0.2rem;
    }

}