@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 650;
    font-size: 1rem;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

textarea { height: auto; }

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: black;
}

a{
    color:white;
    text-decoration: none;
    padding: 0 15px;
}

a:hover{
    color: grey;
    text-decoration: none;
}

header{
    flex: none;
    padding: 8px 0;
    position: sticky;
    height:auto;
    width:100vw;
    background-color: black;
    color: white;
}

.header-top{
    display:flex;
    color: white;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    margin: auto;
}

.header-top > div {
    width: 260px;
    height: auto;
}

.body-container{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: auto;
    position: relative;
}

main::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background-image: url('../bg_image.jpg');
    background-repeat: repeat;
    background-size: 750px;
}


footer{
    flex: none;
    padding: 10px 0;
    min-height: auto;
    margin-top: auto;
    height:auto;
    width:100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text{
    color:white;
    margin-right: 10px;
    font-size: 25px;
}

.logo{
    height: 36px;
    width: auto;
}
.btn-container{
    display:flex; 
    align-items: center; 
    justify-content: center;
    margin: 10px;
}
button{
    background-color: #033C66;
    color: white;
    padding: 5px 20px;
    border-radius: 40px;
    border: 0;
    margin: 10px;
}

button:hover{
    cursor: pointer;
    filter:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    transform: scale(1.05);
}

select{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

input,output{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

input::placeholder{
    color: aliceblue;
    text-align: center;
}

textarea{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box{
    background-color: #ECFCFF;
    padding: 25px;
    margin: 25px;
    filter:drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    flex-direction: column;
    display: flex;
}

.search_result{
    margin: 10px;
}

.result-info{
    margin: 10px;
}

.err-msg{
    color: red;
    text-align: center;
}

.btn{
    all: unset;
    margin: 0 8px;
}

.acc-img{
    margin: 0 5px -5px 5px;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    color:white;
}
.dash-img{
    margin: 0 5px -5px 5px;
    height: 29px;
    width: 29px;
}

.success-msg{
    color: green;
    text-align: center;
}

.search-input{
    background-color: #ECFCFF;
    filter:drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    color:black;
    min-width: 80%;
}

.search-input::placeholder{
    text-align: left;
}

.search-icon-btn{
    background-color: #ECFCFF;
    color: black;
}

table{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    border-spacing: 0;
    border-collapse:collapse;
    
}

td,th{
    padding: 10px;
    border: 1px solid black;
 
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}