@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 650;
    font-size: 20px;
    font-style: normal;
}

body{

}

a{
    color:white;
    text-decoration: none;
    padding: 0 15px;
}

a:hover{
    color: grey;
    text-decoration: none;
}

header{
    padding: 8px 0;
    position: sticky;
    height:auto;
    width:100vw;
    background-color: black;
    color: white;
}

.header-top{
    display:flex;
    color: white;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 15px;
    margin: auto;
}

.header-top > div {
    width: 260px;
    height: auto;
}

.header-links{
    
}

.body-container{

}



footer{
    padding: 10px 0;
    position:absolute;
    height:auto;
    bottom: 0;
    left: 0;
    right: 0;
    width:100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text{
    color:white;
    margin-right: 10px;
    font-size: 25px;
}

.logo{
    height: 36px;
    width: auto;
}

.btn{
    background-color: #000956;
    color: #FFD700;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
}