@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('header.css');
@import url('notification.css');

*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 625;
    font-size: 0.95rem;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

textarea { height: auto; }

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: black;
}

a{
    color:white;
    text-decoration: none;
    padding: 0 1rem;
    transition: 500ms;
}

a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    transition: 500ms;
    text-decoration: none;
    border-radius: 1rem;
}

.body-container{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: auto;
    position: relative;
    transition: 500ms;
}

main::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-image: url('../bg_image.jpg');
    background-repeat: repeat;
}


footer{
    flex: none;
    padding: 10px 0;
    min-height: auto;
    margin-top: auto;
    height:auto;
    width:100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text{
    color:white;
    margin-right: 10px;
    font-size: 25px;
}

.logo{
    height: 36px;
    width: auto;
}
.btn-container{
    display:flex; 
    align-items: center; 
    justify-content: center;
    margin: 10px;
}
button{
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-radius: 40px;
    border: 0;
    margin: 10px;
    transition: 250ms;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    filter:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    transform: scale(1.05);
    transition: 250ms;
}

select{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

input,output{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

input::placeholder{
    color: aliceblue;
    text-align: center;
}

textarea{
    background-color: #033C66;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 5px;
    margin: 10px;
}

.search{
    max-width: 80%;
    width: 100%;
    margin: 1rem auto;

}

.search .search-box{
    position: relative;
    height: 3rem;
    background: rgb(0, 0, 0);
    max-width: 5rem;
    margin: auto;
    border-radius: 2rem;
    transition:  all 0.5s ease-in-out;
}

#searchCheck{
    display: none;
}

#searchCheck:checked ~ .search-box{
    max-width: 75%;
}


.search-box input{
    all:unset;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    outline: none;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;
    background: #ECFCFF;
}

.search-box form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-box .search-icon{
    position: absolute;
    height: 100%;
    width: 6rem;
    background: #ECFCFF;
    border-radius: 2rem;
    text-align: center;
    line-height: 3rem;
    right: -1rem;
    color: black;
    top: 0;
    transition:  all 0.5s ease-in-out;
}

.search-box .search-icon:hover{
    cursor: pointer;
}

#searchCheck:checked ~ .search-box .search-icon{
    background: #ECFCFF;
    color: #000;
    border-radius: 0 2rem 2rem 0;
}


.search-input::placeholder{
    text-align: left;
    color: black;
}

.content-box{
    background-color: #ECFCFF;
    padding: 25px;
    margin: 25px;
    filter:drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    flex-direction: column;
    display: flex;
}

.search_result{
    margin: 10px;
}

.result-info{
    margin: 10px;
}

.err-msg{
    color: red;
    text-align: center;
}

.btn{
    padding: 0.5rem;
    margin: 0.2rem;
}


.acc-img{
    margin: 0 5px -5px 5px;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    color:white;
}
.dash-img{
    margin: 0 5px -5px 5px;
    height: 29px;
    width: 29px;
}

.success-msg{
    color: green;
    text-align: center;
}

table{
    background-color: white;
    text-align: center;
    border-collapse:collapse;
    width: 100%;
    
}

table,td,th{
    padding: 1rem;
}

table{
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem #0005;
}

.main-blur{
    filter: blur(8px);
    transition: 500ms;
}


.main-darken{
    filter: brightness(0.5);
    transition: 500ms;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background: #696969;
    border-radius: 10px;
}

div::-webkit-scrollbar{
    width: 6px;
}

div::-webkit-scrollbar-track{
    background: none;

}

div::-webkit-scrollbar-thumb{
    background: #383838;
    border-radius: 10px;
    transition:  1000ms ease-in-out;

}

@media(max-width: 680px){
    .footer-text{
        font-size: 1rem;
    }
}
